.u-section-1 .u-sheet-1 {
  min-height: 1825px;
}

.u-section-1 .u-social-icons-1 {
  height: 59px;
  min-height: 16px;
  width: 59px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 82px auto 0 21px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0 110px;
}

.u-section-1 .u-shape-1 {
  width: 1119px;
  height: 322px;
  box-shadow: 7px 6px 8px 0 rgba(128,128,128,1);
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -302px 21px 0;
}

.u-section-1 .u-image-1 {
  width: 59px;
  height: 59px;
  margin: 67px auto 0 21px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0 110px;
}

.u-section-1 .u-group-1 {
  width: 1119px;
  min-height: 270px;
  height: auto;
  box-shadow: 7px 7px 0px 0 rgba(128,128,128,0.35);
  margin: 19px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px 310px 0 21px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 9px 0 21px;
}

.u-section-1 .u-social-icons-2 {
  height: 59px;
  min-height: 16px;
  width: 59px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 74px auto 0 21px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -49px 678px 0 110px;
}

.u-section-1 .u-group-2 {
  width: 1119px;
  box-shadow: 7px 7px 8px 0px rgba(128,128,128,0.35);
  min-height: 240px;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 362px 0 31px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 412px 0 31px;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 362px 0 81px;
}

.u-section-1 .u-social-icons-3 {
  height: 59px;
  min-height: 16px;
  width: 59px;
  min-width: 16px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto 0 21px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -39px -110px 0 110px;
}

.u-section-1 .u-image-2 {
  width: 25px;
  height: 25px;
  margin: 49px auto 0 412px;
}

.u-section-1 .u-shape-2 {
  height: 354px;
  box-shadow: 7px 6px 8px 0 rgba(128,128,128,1);
  margin-top: -87px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  background-image: none;
  margin: -247px 364px 0 110px;
}

.u-section-1 .u-text-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  background-image: none;
  margin: 156px 364px 0 110px;
}

.u-section-1 .u-text-13 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  background-image: none;
  margin: -116px 364px 0 110px;
}

.u-section-1 .u-text-14 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  background-image: none;
  margin: 20px 364px 0 110px;
}

.u-section-1 .u-text-15 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  background-image: none;
  font-style: italic;
  margin: -115px 364px 0 110px;
}

.u-section-1 .u-text-16 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  background-image: none;
  margin: -140px 932px 0 110px;
}

.u-section-1 .u-text-17 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  background-image: none;
  margin: -25px 12px 0 462px;
}

.u-section-1 .u-text-18 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  background-image: none;
  margin: 21px 12px 0 462px;
}

.u-section-1 .u-image-3 {
  width: 25px;
  height: 25px;
  margin: -26px auto 0 65px;
}

.u-section-1 .u-image-4 {
  width: 25px;
  height: 25px;
  margin: -70px auto 0 65px;
}

.u-section-1 .u-image-5 {
  width: 25px;
  height: 25px;
  margin: 65px auto 0 66px;
}

.u-section-1 .u-image-6 {
  width: 28px;
  height: 28px;
  margin: 17px auto 0 66px;
}

.u-section-1 .u-image-7 {
  width: 30px;
  height: 30px;
  margin: 20px auto 0 63px;
}

.u-section-1 .u-image-8 {
  width: 23px;
  height: 23px;
  margin: 16px auto 0 68px;
}

.u-section-1 .u-image-9 {
  width: 25px;
  height: 25px;
  margin: -204px auto 60px 412px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 578px;
    margin-left: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -159px;
    margin-right: 474px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 524px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 524px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 264px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 264px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 264px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 264px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 264px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 832px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 274px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 368px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 420px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 420px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 420px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 622px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 54px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 188px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 14px;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 520px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 442px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -209px;
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 340px;
    margin-left: 800px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 320px;
    margin-left: 800px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 315px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 242px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 315px;
  }
}